.navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}

.navbar-link {
    font-family: Inter, sans-serif, bold;
    margin: 10px;
    font-size: large;
    align-items: flex-end;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-link:hover {
    color: slategray;
    -webkit-transition: color .5s;
    -moz-transition:    color .5s;
    -ms-transition:     color .5s;
    -o-transition:      color .5s;
    transition:         color .5s;
}

.logo {
    width: 125px;
    padding-left: 20px;
    padding-right: 20px;
}